.section-opinions {
    background-color: rgb(129, 118, 118);
}

.section-opinion__container {
    max-width: 700px;
    margin: 0 auto;
}

.opinions-section__card {
    height: 540px;
    width: 100%;
    /* background-color: rgb(148, 147, 147); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
    font-size: 1.5rem;
}


.opinions-section__card q {
    color: white;
    font-weight: 400;
}