.section-navbar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    padding: 15px 15px 0rem;
    width: 100%;
    min-height: 125px;
    transition: all 0.2s;
    z-index: 3;
}




.header__title h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.header__title p {
    font-size: .8rem;
}


@media (max-width:1000px) {

    .navbar__image img {
        position: absolute;
        width: 65px;
    }

    .section-navbar-elements {
        display: flex;
        width: 95%;
        background-color: green;
        align-items: flex-end;
        justify-content: end;
    }

    .navbar__buttons {
        /* display: flex; */
        display: none;
        align-items: center;
    }

    .navbar-menu {
        display: flex;
        align-items: center;
        height: 100%;
        text-align: end;
    }

    .navbar__menu {
        padding: 0 0 0 0;
        flex-direction: column;
        justify-content: center;
        display: none;
    }

    .navbar__menu #close-menu {
        margin-top: 10px;
    }

    .navbar__menu ul li {

        list-style: none;
        padding: 12.1px 0;
        width: 100%;
    }

    .navbar__menu ul li a {
        text-decoration: none;
        width: 100px;
        padding: 15px 60px;
        white-space: nowrap;
        font-size: 1.12rem;
    }


    .navbar-menu button {
        height: 45px;
        width: 130px;
        margin-right: 30px;
    }

    #open-menu {
        /* display: none; */
    }

}

@media (min-width: 1001px) {

    .navbar__image img {
        width: 100px;

        /* background-color: red; */
    }

    #navbarElement {
        background-color: white;
    }

    .section-navbar-elements {
        display: flex;
        flex-direction: column;
    }

    .navbar__list {
        display: flex;
        background-color: blue;
        margin-bottom: 0px;
    }

    .navbar__buttons {
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: end;
        height: 65px;
    }

    .navbar__list li {
        list-style: none;
        padding: 12px 0;
    }

    .navbar__list li a {
        text-decoration: none;
        padding: 15px 15px;
        background-color: red;
    }


    .navbar__buttons #call-button,
    #close-menu,
    #open-menu {
        display: none;
    }

}

/* Styles for Header section */

.header {
    min-height: 900px;
    padding-top: 183px;
    background-image: url("../images/roof.png");
    background-size: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    /* background-position: center; */
}

.header__items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1400px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.473);
}



.header__title {
    max-width: 480px;
    padding: 30px 15px 30px;
    margin: 0 auto 30px;
    max-height: 260px;
    color: white;
}


.header__google-reviews {
    height: 138px;
    width: 210px;
    background-color: rgb(48, 45, 45);
}

.header__form {
    background-color: #000000c7;
    min-width: 318px;
    max-width: 240px;
    height: 620px;
    border-radius: 8px;
    margin: 30px auto;

}

/* Styles for card  */

.header-rate {
    width: 100%;
    padding-top: 20px;
    background-color: #262626;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
    background-color: white;
}


.header-rate__calification {
    height: auto;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    position: block;
    justify-content: center;
    max-width: 530px;
    margin: 0 50px;
    /* margin-top: -85px; */
}

@media (min-width: 940px) {

    .header-rate__calification {
        height: auto;
        display: flex;
        flex-direction: row;
        margin: 0 50px;
        max-width: none;
        background-color: aqua;
        /* margin-top: -85px; */
    }

}


.rate-calification__card {
    width: 210px;
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: white;
}

.rate-calification__card img {
    background-color: red;
    min-width: 55px;
    height: 55px;
    margin-right: 12px;
}

.calification-card__text h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--color-yellow);
}


.calification-card__text p {
    font-size: 85%;
    max-width: 75%;
}

.header-rate-title {
    display: flex inherit;
    flex-direction: column;
    padding: 30px 20px;
    background-color: #262626;
    width: 100%;
}

.rate-title__container {
    max-width: 1400px;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
}

.header-rate-title__title {
    width: 490px;
}

.header-rate-title__title h3 {
    font-size: 1.12rem;
    font-weight: 600;
    color: var(--color-yellow);
    margin-bottom: 20px;
}

.header-rate-title__title h2 {
    font-weight: 800;
}

.header-rate-title__body {
    font-weight: 100;

}

@media (min-width: 940px) {

    .rate-title__container {
        max-width: 1150px;
        flex-direction: row;
        align-items: center;
        padding: 35px 20px;
    }

    .header-rate-title__title {
        max-width: 430px;
        margin-right: 45px;
    }

    .header-rate-title__title h2 {
        font-size: 2.62rem;
    }

    .header-rate-title__body {
        max-width: 535px;
        max-width: 600px;
    }

}


/* Media queries */
@media (min-width: 800px) {

    .header__items-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* align-items: center; */
    }


    .header__title {
        max-width: 480px;
        margin: 0 auto 30px;
        max-height: 260px;
    }


    .header__title h1 {
        padding-top: 100px;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .header__title p {
        font-size: .8rem;
    }

    .header__form {
        margin: 0 15px;
        padding: 30px 20px;
        background-color: #262626;
    }

}


@media (min-width: 1000px) {

    .header__title {
        max-width: 500px;
    }

    .header__title h1 {
        font-size: 3.3rem;
        font-weight: 800;
        line-height: 1.1;
    }

    .header__title p {
        font-size: .8rem;
    }

    .header__form {
        margin: 15px auto;
    }

}