.section-navbar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    padding: 15px;
    width: 100%;
    min-height: 95px;
    transition: all 0.2s;
    z-index: 3;
}

/* Styles for work comfortably */

@media (max-width:1000px) {

    .navbar__image img {
        position: absolute;
        width: 65px;
    }

    .section-navbar-elements {
        display: flex;
        width: 95%;
        /* flex-direction: column; */
        align-items: center;
        justify-content: end;
    }

    .navbar__buttons {
        /* display: flex; */
        display: none;
        align-items: center;
    }

    .navbar-menu {
        display: flex;
        align-items: center;
        height: 100%;
        text-align: end;
    }

    .navbar__menu {
        padding: 0 0 0 0;
        flex-direction: column;
        justify-content: center;
        display: none;
    }

    .navbar__menu #close-menu {
        margin-top: 10px;
    }

    .navbar__menu ul li {

        list-style: none;
        padding: 12.1px 0;
        width: 100%;
    }

    .navbar__menu ul li a {
        text-decoration: none;
        width: 100px;
        padding: 15px 60px;
        white-space: nowrap;
        font-size: 1.12rem;
    }


    .navbar-menu button {
        height: 45px;
        width: 130px;
        margin-right: 30px;
    }

    #open-menu {
        /* display: none; */
    }

}

@media (min-width: 1001px) {

    .navbar__image img {
        width: 100px;
        background-color: red;
    }

}



.header {
    /* height: 100%; */
    height: 900px;
    padding-top: 126px;
    /* background-color: rgb(182, 182, 182); */
    background-image: url("../images/roof.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;

}

.header__items-container {
    display: flex;
    align-items: center;
    margin: -10 auto;
    /* max-width: 1400px; */
    justify-content: space-evenly;
    padding-bottom: 75px;
    /* width: 100vw; */
    background-color: rgba(0, 0, 0, 0.409);
}

.header__title {
    /* background-color: red; */
    color: white;
    max-width: 720px;
}

.header__title>* {
    margin: 15px 0px;
}

.header__title h1 {
    font-size: 3.3rem;
    font-weight: 800;
    line-height: 1.1;
}

.header__title p {
    font-size: 1.2rem;
}

.header__google-reviews {
    height: 138px;
    width: 210px;
    background-color: #000000d8;
    border-radius: 8px;
}

.header__form {
    background-color: #000000c7;
    min-width: 318px;
    height: 645px;
    border-radius: 8px;
}

.header-rate {
    width: 100%;
    height: 320px;
    background-color: #262626;
}

.header-rate__calification {
    width: 900px;
    height: 150px;
    background-color: white;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: calc(50% - 450px);
    margin-top: -45px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    /* margin-top: -100px; */
    /* position: 0; */
}

.rate-calification__card {
    width: 210px;
    /* height: 140px; */
    /* background-color: gray; */
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-bottom: 20px;
}


.rate-calification__card img {
    background-color: red;
    min-width: 55px;
    height: 55px;
    margin-right: 12px;
}

.calification-card__text h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--color-yellow);
}


.calification-card__text p {
    font-size: 85%;
    max-width: 75%;
}

.header-rate-title {
    padding-top: 135px;
    display: flex;
    justify-content: space-evenly;
    max-width: 1400px;
    margin: 0 auto;
    color: white;
}

.header-rate-title__title {
    display: flex;
    flex-direction: column;
    max-width: 488px;
    height: 90px;
    justify-content: space-between;
}


.header-rate-title__title h3 {
    font-size: 1.12rem;
}

.header-rate-title__title h2 {
    font-size: 2.62rem;
}

/* .header-rate-title__body {} */

.header-rate-title__body p {
    font-size: 1.12rem;
    line-height: 160%;
    font-weight: 300;
    width: 672px;
}