:root {
    --color-red: #b10000;
    --color-white: #fffaef;
    --color-blue-gray: #333842;
    --color-ligth-gray: #999898;

    --color-wheat: #fffaef;
    --color-yellow: #fdd333;
    --color-dark-yellow: #b39623;
    --color-blue-king: #2f395a;
}